
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #23303d;
}
li {
    float: left;
    background-color: #395159;
}
li a {
    display: block;
    padding: 9px 16px;
    background-color: #23303d;
}
